:root{
    --fontCormorant: 'Cormorant Unicase', serif;
    --fontBebas:'Bebas Neue', cursive;
    --fontMontserrat: 'Montserrat', sans-serif;
    --fontRubik: 'Rubik', sans-serif;
      /*--mycolorblue: rgb(109, 240, 240);*/
    --mycolorspaceblue:cornflowerblue;
    --mycolorwhitelowopacity: rgba(255,255,255,0.80);
    --mycolorgreydark: #3c3d41;
    --mycolorgrey: rgba(255,255,255,0.70);
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 500;
    flex-direction: column;
    display: flex;
}

@media(max-width:768px){
    body{
       overflow-x:hidden;
    }
}



footer{
    display:block;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

header .container{
    width: 90%;
    margin: 0 auto;
}

@media (min-width:768px) {
    .container{
      width: 90%;
    }
}

.video-container{
    max-width: 110%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 2px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    line-height: 0;
}

@media (max-width: 768px){
    .video-container{
        overflow-inline: scroll;
        place-content: center;

    }
}

img {
    float: left;
   /* padding: 3px 0;*/
    
}

h1{
    font-family: var(--fontBebas);
    text-transform: uppercase;
    font-size: 3rem;
    text-align: left;
}

p{
    font-family: var(--fontBebas);
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: left;
}

nav{
    float: right;
}

nav ul{
    margin-bottom: 3;
    padding: 0;
    list-style: none;   
    
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
    font-family: var(--fontCormorant);
}
/*
.button{
    color: whitesmoke;
    position: relative;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    padding: 1em 1.5em;  
}

.button.outline{
    color:whitesmoke;
    font-family: var(--fontBebas);
}

.button.more{
    color:whitesmoke;
    font-family: var(--fontBebas);
}

.button.outline::after,
.button.outline::before{
    content: "";
    display: block;
    position: absolute;
    height: 20%;
    width: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
    /*background-color: rgb(64, 92, 116);
}

.button.outline::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color:whitesmoke;
    border-left-color:whitesmoke;
}

.button.outline::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: whitesmoke;
    border-right-color: whitesmoke;
}

.button.outline:hover{
    color:var(--mycolorspaceblue);
}

.button.outline:hover:after, .button.outline:hover:before {
width: 100%;
height: 100%;
}
*/
.hero-title{
    position: absolute;
    color: white;
    text-align: left;
    padding-top: 480px;
    margin: 3.5rem;
    font-family:var(--fontCormorant);
}



.button {
    width: 180px;
    height: 40px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-family:var(--fontCormorant);
    /*font-weight: 700;*/
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    text-decoration: none;
   }
   
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 1px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
   }
   
.button:hover::before {
    width: 130%;
    height: 100%;
   }
   
.button:hover {
    color: black;
   }
   
.button:active:before {
    background: #b9b9b9;
   }
span{
    color: var(--mycolorspaceblue);
    text-align: center;
    font-family:var(--fontCormorant);
}

#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 30%;
    filter: brightness(85%);
}


